:root { 
    --light-background: #F5F5F5;
    --mid-color: #229799;
    --dark-background: #424242;
    --light-text: #48CFCB;
    --dark-text: #242424;
}

body{
    color: var(--dark-text);
    background-color: var(--light-background);
}

h1, #h1 {
    font-size: 2.95rem;
    color: var(--light-text);
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
}

a {
    font-family: "Noto Serif Georgian", serif;
    font-weight: 400;
    font-style: normal;
}


/* Nav Bar */ 
.navbar-nav a, .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--light-color);
}

nav { 
    background-color: var(--mid-color);
}

.navbar-brand {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
}