:root { 
    --light-background: #F5F5F5;
    --mid-color: #229799;
    --dark-background: #424242;
    --light-text: #48CFCB;
    --dark-text: #242424;
}

body{
    color: var(--dark-text);
    background-color: var(--light-background);
}

h1, #h1 {
    font-size: 2.95rem;
    color: var(--light-text);
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    text-align: center;
    color: var(--dark-text);
    font-size: 2.15rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
}

h5 {
    font-family: "Noto Serif Georgian", serif;
    font-weight: 400;
    font-style: normal;
}

hr { 
    width: 28vw;
    color: var(--light-text);
}

.hr-alt { 
    color: var(--dark-background);
}

a {
    font-family: "Noto Serif Georgian", serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Noto Serif Georgian", serif;
    font-weight: 400;
    font-style: normal;
}

.overlay {
    background-color: rgba(0,0,0, 0.75);
}

/* Nav Bar */ 
.navbar-nav a, .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--light-color);
}

nav { 
    background-color: var(--mid-color);
}

.navbar-brand {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
}

/* Jumbo Tron Area */
#jumbotron-row { 
    background-color: rgba(0,0,0, 0.75);
    padding-top: 7rem;
    padding-bottom: 7rem;
    height: 100%;
}

#jumbotron-row p {
    color: var(--light-text);
}

#self-help{
    margin-top: 57px;
    background: url('../images/intro-background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* Benefits Area */
.card {
    background-color: var(--light-background);
}

.btn-primary {
    background-color: var(--mid-color);
    color: var(--light-background);
    font-family: "Noto Serif Georgian", serif;
    font-weight: 400;
    font-style: normal;
}

.btn-primary:hover { 
    background-color: var(--dark-background);
    color: var(--light-text);
}

/* Meetups Area */
#mind-care-meetups {
    background: url('../images/mindfulness-meetups.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#mind-care-meetups h2 { 
    color: var(--light-text);
}


